@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: 'Inter', sans-serif;
  }
html, body {
  margin: 0;
  padding: 0;
}

  .btn {
    @apply bg-[#7C3AED] text-white font-bold py-2 px-4 rounded my-2 w-full hover:bg-[#6D28D9] transition;
  }

  .link {
    @apply text-gray-800 px-4 py-2 rounded-md font-semibold  hover:text-[#7C3AED] transition no-underline;
     
  }
  
  .label{
    @apply  text-sm font-medium mx-2;

  }
  
.input {
  @apply border w-full p-2 rounded mb-2 bg-transparent;
}


/* Prevent browser autofill / validation from forcing white backgrounds */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:valid {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  color: inherit !important;
  transition: background-color 9999s ease-in-out 0s; /* prevents flicker */
}



}