@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: 'Inter', sans-serif;
  }

  .btn {
    @apply bg-[#7C3AED] text-white font-bold py-2 px-4 rounded my-2 w-full hover:bg-[#6D28D9] transition;
  }

  .link {
    @apply text-gray-800 px-4 py-2 rounded-md font-semibold hover:bg-gray-100 hover:text-gray-900 transition no-underline;
     
  }
  
  .label{
    @apply  text-sm font-medium mx-2;

  }
  
.input {
  @apply border w-full p-2 rounded mb-2;
}
  

}