@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
*{
    font-family: 'Inter'
}
  .btn {
    @apply bg-[#7C3AED] text-white font-bold py-2 px-4 rounded my-2 w-full cursor-pointer;
  }
  .label{
    @apply  text-sm font-medium mx-2;

  }
  
.input {
  @apply border w-full p-2 rounded mb-2;
}
   




}